# Data Analysis Results

In [1]:
import pandas as pd
df = pd.read_csv('movie_project_factors.csv')

In [7]:
df.query('genre=="드라마 NETFLIX ORIGINAL"')

,title,desc,genre,media,len,sent_len,noun,ending,connect,determ,adj,verb,pronoun,adverb,conj
1146,타이탄,복수에는 대가가 따른다. 정체를 숨기고 형사가 된 딕 그레이슨. 이제 그는 고담의 ...,드라마 NETFLIX ORIGINAL,netflix,89,29.333333,0.146067,0.022472,0.011236,0.044944,0.022472,0.067416,0.011236,0.011236,0.0
1199,아웃랜더,다이애나 개벌든의 인기 판타지 로맨스 소설 시리즈를 각색한 서사 드라마. 18세기 ...,드라마 NETFLIX ORIGINAL,netflix,91,100.000000,0.318681,0.010989,0.010989,0.010989,0.000000,0.021978,0.000000,0.000000,0.0

In [8]:
df.query('genre=="영화 NETFLIX ORIGINAL"')

,title,desc,genre,media,len,sent_len,noun,ending,connect,determ,adj,verb,pronoun,adverb,conj
1725,모글리: 정글의 전설,"동물들의 손에 자란 인간의 아이, 모글리. 거대한 운명을 짊어진 소년이 숙명적인 싸...",영화 NETFLIX ORIGINAL,netflix,91,45.5,0.175824,0.010989,0.0,0.021978,0.0,0.054945,0.0,0.0,0.0

In [11]:
df = df[df.genre != '영화 NETFLIX ORIGINAL']
df = df[df.genre != '드라마 NETFLIX ORIGINAL']

In [12]:
set(df.genre)

{'드라마', '영화'}

In [13]:
df.to_csv('movie_project_factors.csv', index=False, encoding='utf-8')

In [14]:
df.groupby(['media', 'genre'])['noun'].describe()

               count      mean       std       min       25%       50%  \
media   genre
naver   드라마    203.0  0.223070  0.060328  0.116279  0.179487  0.217391
        영화     932.0  0.168618  0.035937  0.076923  0.143212  0.165138
netflix 드라마    204.0  0.198390  0.046121  0.098901  0.164118  0.192308
        영화     934.0  0.186423  0.041597  0.026316  0.157895  0.181818

                    75%       max
media   genre
naver   드라마    0.258343  0.400000
        영화     0.189743  0.318182
netflix 드라마    0.222667  0.350877
        영화     0.209584  0.500000

In [15]:
df.groupby(['media', 'genre'])['verb'].describe()

               count      mean       std       min       25%       50%  \
media   genre
naver   드라마    203.0  0.047764  0.023797  0.000000  0.029412  0.043478
        영화     932.0  0.042198  0.011222  0.010526  0.034243  0.041486
netflix 드라마    204.0  0.051518  0.019750  0.000000  0.037384  0.051948
        영화     934.0  0.052016  0.019832  0.000000  0.038760  0.052083

                    75%       max
media   genre
naver   드라마    0.062697  0.125000
        영화     0.049118  0.102564
netflix 드라마    0.066667  0.098361
        영화     0.064516  0.120879

In [16]:
df.groupby(['media', 'genre'])['adverb'].describe()

               count      mean       std  min       25%       50%       75%  \
media   genre
naver   드라마    203.0  0.006026  0.010056  0.0  0.000000  0.000000  0.011303
        영화     932.0  0.010109  0.006265  0.0  0.006042  0.009324  0.013653
netflix 드라마    204.0  0.008501  0.010843  0.0  0.000000  0.000000  0.014493
        영화     934.0  0.010712  0.010790  0.0  0.000000  0.010417  0.015873

                    max
media   genre
naver   드라마    0.051282
        영화     0.041176
netflix 드라마    0.046154
        영화     0.063158

In [17]:
df.groupby(['media', 'genre'])['adj'].describe()

               count      mean       std  min       25%       50%       75%  \
media   genre
naver   드라마    203.0  0.005176  0.009842  0.0  0.000000  0.000000  0.008032
        영화     932.0  0.005542  0.004736  0.0  0.002559  0.004764  0.007638
netflix 드라마    204.0  0.006767  0.008999  0.0  0.000000  0.000000  0.012506
        영화     934.0  0.006837  0.008557  0.0  0.000000  0.000000  0.012158

                    max
media   genre
naver   드라마    0.048387
        영화     0.052632
netflix 드라마    0.042254
        영화     0.072165

In [18]:
df.groupby(['media', 'genre'])['pronoun'].describe()

               count      mean       std  min       25%       50%       75%  \
media   genre
naver   드라마    203.0  0.002647  0.005985  0.0  0.000000  0.000000  0.000000
        영화     932.0  0.003877  0.003475  0.0  0.001524  0.003272  0.005495
netflix 드라마    204.0  0.005059  0.007567  0.0  0.000000  0.000000  0.010753
        영화     934.0  0.004816  0.006901  0.0  0.000000  0.000000  0.010417

                    max
media   genre
naver   드라마    0.026316
        영화     0.022222
netflix 드라마    0.044944
        영화     0.042553

In [19]:
df.groupby(['media', 'genre'])['conj'].describe()

               count      mean       std  min  25%  50%       75%       max
media   genre
naver   드라마    203.0  0.000657  0.003081  0.0  0.0  0.0  0.000000  0.020833
        영화     932.0  0.001108  0.001712  0.0  0.0  0.0  0.002185  0.013245
netflix 드라마    204.0  0.000617  0.002429  0.0  0.0  0.0  0.000000  0.013699
        영화     934.0  0.000649  0.002494  0.0  0.0  0.0  0.000000  0.017241

In [20]:
df.groupby(['media', 'genre'])['connect'].describe()

               count      mean       std  min       25%       50%       75%  \
media   genre
naver   드라마    203.0  0.020854  0.017078  0.0  0.000000  0.021277  0.031250
        영화     932.0  0.018784  0.007292  0.0  0.014006  0.017924  0.022275
netflix 드라마    204.0  0.023400  0.014303  0.0  0.013514  0.023077  0.031579
        영화     934.0  0.026655  0.014930  0.0  0.015385  0.024390  0.037037

                    max
media   genre
naver   드라마    0.076923
        영화     0.053030
netflix 드라마    0.072464
        영화     0.073529

In [21]:
df.groupby(['media', 'genre'])['ending'].describe()

               count      mean       std  min       25%       50%       75%  \
media   genre
naver   드라마    203.0  0.001360  0.003995  0.0  0.000000  0.000000  0.000000
        영화     932.0  0.005333  0.003358  0.0  0.003125  0.004745  0.006757
netflix 드라마    204.0  0.014777  0.008054  0.0  0.011364  0.013889  0.017938
        영화     934.0  0.014424  0.006719  0.0  0.010638  0.013889  0.016949

                    max
media   genre
naver   드라마    0.025641
        영화     0.036364
netflix 드라마    0.043011
        영화     0.051546

In [22]:
df.groupby(['media', 'genre'])['determ'].describe()

               count      mean       std       min       25%       50%  \
media   genre
naver   드라마    203.0  0.030274  0.012644  0.000000  0.021277  0.027778
        영화     932.0  0.009329  0.005914  0.001412  0.005556  0.008005
netflix 드라마    204.0  0.023367  0.010615  0.000000  0.015326  0.022858
        영화     934.0  0.022374  0.009597  0.000000  0.015385  0.021505

                    75%       max
media   genre
naver   드라마    0.040541  0.066667
        영화     0.011222  0.057143
netflix 드라마    0.031068  0.055556
        영화     0.029851  0.052632